{% extends "layout.html" %}

{% block title %}
Chai Aur Tweet
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Welcome to My First Project Using Django</h1>

            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h2 class="mb-0">
                        {% if form.instance.pk %}
                            Edit Tweet
                        {% else %}
                            Create Tweet
                        {% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button class="btn btn-warning" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Back to Tweet List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        max-width: 800px;  
        margin: auto;
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock content %}
